/* Visuals for all pages - BEGINNING */
@charset "utf-8";

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../font/AlegreyaSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    /* Setting the parameters for the whole website for all views */
    font-family: 'AlegreyaSans', sans-serif;
    font-size: 18px;
    color: #1C4D6F;
}

html {
    width: 100%;
}

body {
    display: table;
    min-width: 100%;
    position: absolute;
    height: 100%;
    text-align: center;
    background-image: url('../images/dimension.png');
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    top: 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a, img {
    border: none;
    outline: none;
}

.gray-out-div {
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.7;
    background: #000000;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}

input {
    padding: 4px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

h1 {
    background-color: #0093d0;
    line-height: 1.6em;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    border-bottom: 2px solid #006DBD;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

h2 {
    color: #0093d0;
    font-weight: bold;
    font-size: 1.4em;
    margin: 20px auto;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #1C4D6F;
}

input[type="file"] {
    font-size: 0.8em;   
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
    box-shadow: 0 0 5px #0093d0;
    border: 1px solid #0093d0;
    color: #1C4D6F;
}

select::-ms-expand {
    display: none;
}

select {
    margin: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #cccccc;
    min-width: 150px;
    padding: 4px 24px 4px 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/down-arrow.png) 98% / 16px no-repeat #eeeeee;
    background-color: #ffffff;
}

thead tr td {
    background-color: #444444;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.0em;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 2px solid #222222; 
}

.file-upload-button {
    border: none;
}

.button {
    padding: 6px 16px;
    width: auto;
    background: #0093d0;
    border-bottom: 2px solid #006DBD; 
    display: inline-block;
    color: #ffffff;
    text-transform: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover{
    background: #0063CE;
}

.text-only-button {
    display: inline-block;
    padding: 10px;
    opacity: 0.7;
}

.text-only-button:hover {
    opacity: 1;
}

.error-div {
    padding: 10px 0px;
    color: #f05b56;
    font-weight: 500;
}

.progress-circle {
    position: fixed;
    margin: 0;
    margin-top: 20%;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    display: none;
    z-index: 9999;
    /* Opacity animation */
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.red-font {
    color: #a30000;
    font-weight: bold;
    font-size: 1.2em;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    padding: 0.4em 2% 0.4em 0px;
    width: 98%;
    background: rgba(245, 245, 245, 0.7);
    z-index: 5;
    /* Outer Shadow */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    font-size: 0.8em;
    overflow: auto;
}

#header-logo {
    height: 2.6em;
    float: left;
    padding: 0px 4px 0px 12px;
}

.header h2 {
    display: inline-block;
    padding: 0px 4px;
    margin: 0 auto;
    font-size: 2.6em;
    font-weight: bold;
}

.header #version-span {
    display: inline-block;
    padding: 0px 4px;
    margin-right: -2%;
    font-size: 0.8em;
    opacity: 0.8;
    float: right;
}

/* Datepicker */
#ui-datepicker-div .ui-datepicker-next,
#ui-datepicker-div .ui-icon-circle-triangle-e {
    background-image: url('../images/next-icon.png');
    opacity: 0.7;
}

#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-icon-circle-triangle-w {
    background-image: url('../images/prev-icon.png');
    opacity: 0.7;
}

#ui-datepicker-div .ui-datepicker-next-hover,
#ui-datepicker-div .ui-datepicker-prev-hover {
    border: none;
    background: transparent;
    margin-top: 1px;
    margin-right: 1px;
    opacity: 1.0;

}

#ui-datepicker-div .ui-datepicker-next-hover {
    background-image: url('../images/next-icon.png');
    margin-right: 1px;
}

#ui-datepicker-div .ui-datepicker-prev-hover {
    background-image: url('../images/prev-icon.png');
    margin-left: 1px;
}

/* Generic Popup Window related items*/
.popup-window {
    position: absolute;
    display: none;
    z-index: 99999;
    padding: 0px;
    margin-top: 15%;
    padding-bottom: 20px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    background-image: url('../images/white_wall_hash.png');
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.9);
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.9);
    font-weight: normal;
}

.popup-window-cancel-button {
    position: absolute;
    float: right;
    top: 0px;
    line-height: 2.0em;
    font-weight: bold;
    right: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 2px 5px 2px 5px;
    color: #ffffff;
    opacity: 0.7;
    cursor: pointer;
    z-index: 9;
}

.popup-window-cancel-button:hover {
    opacity: 1.0;
}

.popup-window h1 {
    margin: 0;
    margin-bottom: 20px;
}