input {
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#register-main-body-wrapper {
    max-width: 300px;
    min-width: 250px;
    width: auto;
    height: auto;
    margin: 100px auto 0px auto;
    padding: 0 0 20px 0px;
    background-color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#register-main-body-wrapper input[type="text"],
#register-main-body-wrapper input[type="password"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 90%;
    background: #ffffff;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    padding: 10px;
    color: #1C4D6F;
    font: 95% Arial, Helvetica, sans-serif;
}

#register-main-body-wrapper input[type="text"]:focus,
#register-main-body-wrapper input[type="password"]:focus {
    box-shadow: 0 0 5px #0093d0;
    border: 1px solid #0093d0;
}