.admin-popup-window {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 86%;
    min-height: calc(96vh - 80px);
    padding-bottom: 40px;
}

.admin-popup-window-close-button-holder {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}

.admin-popup-window-close-button {
    display: inline-block;
    width: auto;
}

.admin-popup-window-table {
    width: 90%;
    margin: 10px auto;
    border-spacing: 0px;
}

.admin-popup-window-table tr td {
    position: relative;
    padding: 4px 0px;
    border-left: 1px #cccccc solid;
}

.admin-popup-window-table tr td:first-child {
    padding: 4px 10px;
    width: 1%;
}

.admin-popup-window-table tbody tr td:nth-child(9) {
    border-right: 1px #cccccc solid;
}

#projects-popup-window .admin-popup-window-table tbody tr td:nth-child(4) {
    border-right: 1px #cccccc solid;
    border-left: 1px #cccccc solid;
}

#cost-centers-popup-window .admin-popup-window-table tbody tr td:nth-child(3) {
    border-right: 1px #cccccc solid;
    border-left: 1px #cccccc solid;
}

#users-popup-window .admin-popup-window-table tbody tr td:nth-child(4) {
    border-right: 1px #cccccc solid;
    border-left: 1px #cccccc solid;
}

#users-popup-window .admin-popup-window-table tr td:first-child {
    white-space: nowrap;
    text-align: left;
}

.admin-popup-window-table tbody tr td:last-child {
    border: 0px;
}

.admin-popup-window-table .empty-row td {
    border-left: 0px;
}

.admin-popup-window-table tbody tr:last-child td,
.admin-popup-window-table tfoot tr:last-child td {
    border-bottom: 1px #cccccc solid;
}

.admin-popup-window-table tbody tr td span {
    visibility: hidden;
    white-space: nowrap;
    overflow: hidden;
    max-width: 120px;
    text-overflow: ellipsis;
}

.admin-popup-window-table tbody tr:nth-child(even) > td {
    background-color: #ffffff;
}

.admin-popup-window-table tbody tr:nth-child(odd) > td {
    background-color: #eeeeee;
}

.admin-popup-window-table tbody tr td:hover {
    background-color: #EBF6FF;
}

.admin-popup-window-table tr td input,
.admin-popup-window-table tr td select {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 4px 10px;
    border: 0 !important;
    background: transparent;
    outline: none !important;
    box-shadow:none !important;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.admin-popup-window-table .delete-button {
    position: absolute;
    right: -18px;
    opacity: 0.7;
    top: 5px;
}

.admin-popup-window-table .delete-button:hover {
    opacity: 1.0;
}

.admin-popup-window-table .add-new-item-title-tr td,
.admin-popup-window-table thead tr td {
    background-color: #444444;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid #222222; 
}

.admin-popup-window-table .add-new-item-input-wrapper-tr td {
    background-color: #ffffff;
}

.admin-popup-window-table .add-new-item-input-wrapper-tr td input {
    line-height: 1.8em;
    padding-top: 2px;
    padding-bottom: 0px;
}

.admin-popup-window-table .add-new-item-input-wrapper-tr td:hover {
    background-color: #EBF6FF;
}

.admin-popup-window-table .add-new-item-button-holder-td {
    padding: 0;
}

.add-new-item-button-holder-td .button {
    width: 100%;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 0;
    padding-top: 1px;
    line-height: 1.8em;
}

#admin-area-h2 {
    margin-bottom: 4px;
}

/* Vendors Popup */
#vendors-popup-window table tr td,
#vendors-popup-window table tr td input,
#vendors-popup-window table tr td span,
#vendors-popup-window table tr td p,
#vendors-popup-window table tr td .button,
#vendors-popup-window table tr td a,
#vendors-popup-window table tr td select  {
    font-size: 16px;
}

#vendors-popup-window table tr td {
    max-width: 10vh;
}

#vendors-popup-window table thead tr td {
    cursor: pointer;
    white-space: nowrap;
}

#vendors-popup-window table thead tr td a {
    font-size: 0.8em;
    color: #ffffff;
    opacity: 0.5;
}

#vendors-popup-window table thead tr td:hover > a {
    opacity: 1.0;
}

/* Users Popup */
#users-popup-window #users-popup-window-users-table td tr {
    position: relative;
}

#users-popup-window .user-reset-password-button {
    position: absolute;
    right: -1.4em;
    top: 0.2em;
    visibility: visible;
    opacity: 0.6;
    cursor: pointer;
}

#users-popup-window .user-reset-password-button:hover {
    opacity: 2.0;
}

#users-popup-window .user-reset-password-button img {
    height: 1em;
}

#reset-password-confirmation-popup-window,
#delete-vendor-confirmation-popup-window {
    width: 300px;
}